/* text-components */
.text-body1 {
  font-size: 1.13rem;
  line-height: 2.05;
}
.text-body2 {
  font-size: 0.93rem;
}
.text-body3 {
  font-size: 1.06rem;
  line-height: 1.43;
  font-weight: $fw-bold;
}
.text-body4 {
  // initial params: font-size: 1rem; line-height: 1.5;
  font-weight: $fw-bold;
}
.text-body5 {
  font-size: 0.86rem;
  font-weight: $fw-bold;
}
.text-body6 {
  font-size: 0.73rem;
}
