@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?buc4ly');
  src:  url('../fonts/icomoon.eot?buc4ly#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?buc4ly') format('truetype'),
        url('../fonts/icomoon.woff?buc4ly') format('woff'),
        url('../fonts/icomoon.svg?buc4ly#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e940";
}
.icon-speakly-bubble:before {
  content: "\e941";
}
.icon-minus:before {
  content: "\e93d";
}
.icon-plus:before {
  content: "\e93e";
}
.icon-arrow-down:before {
  content: "\e93f";
}
.icon-youtube:before {
  content: "\e938";
}
.icon-twitter:before {
  content: "\e939";
}
.icon-atom:before {
  content: "\e93a";
}
.icon-facebook:before {
  content: "\e93b";
}
.icon-purse:before {
  content: "\e93c";
}
.icon-google:before {
  content: "\e935";
}
.icon-eye-crossed:before {
  content: "\e936";
}
.icon-eye:before {
  content: "\e937";
}
.icon-fire:before {
  content: "\e933";
}
.icon-hamburger:before {
  content: "\e934";
}
.icon-x:before {
  content: "\e911";
}
.icon-globe-o:before {
  content: "\e92a";
}
.icon-family:before {
  content: "\e92b";
}
.icon-family-o:before {
  content: "\e92c";
}
.icon-briefcase-o:before {
  content: "\e92d";
}
.icon-book-o:before {
  content: "\e92e";
}
.icon-book:before {
  content: "\e92f";
}
.icon-balloon-o:before {
  content: "\e930";
}
.icon-plane-o:before {
  content: "\e931";
}
.icon-plane:before {
  content: "\e932";
}
.icon-listen-repeat-o:before {
  content: "\e929";
}
.icon-smiley-speechbubble:before {
  content: "\e900";
}
.icon-flare:before {
  content: "\e901";
}
.icon-award:before {
  content: "\e902";
}
.icon-speechbubbles:before {
  content: "\e903";
}
.icon-rectangle-speechbubble:before {
  content: "\e904";
}
.icon-cards:before {
  content: "\e905";
}
.icon-repeat:before {
  content: "\e906";
}
.icon-move-down:before {
  content: "\e907";
}
.icon-move-up:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-pause:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-ear-o:before {
  content: "\e90c";
}
.icon-briefcase:before {
  content: "\e90d";
}
.icon-balloon:before {
  content: "\e90e";
}
.icon-globe:before {
  content: "\e90f";
}
.icon-feather:before {
  content: "\e910";
}
.icon-noodles:before {
  content: "\e912";
}
.icon-star-pin:before {
  content: "\e913";
}
.icon-people:before {
  content: "\e914";
}
.icon-pin-o:before {
  content: "\e915";
}
.icon-pin:before {
  content: "\e916";
}
.icon-table:before {
  content: "\e917";
}
.icon-table-o:before {
  content: "\e918";
}
.icon-translate-o:before {
  content: "\e919";
}
.icon-translate:before {
  content: "\e91a";
}
.icon-sweaty-face-o:before {
  content: "\e91b";
}
.icon-star-o:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-special-char:before {
  content: "\e91e";
}
.icon-rus-char:before {
  content: "\e91f";
}
.icon-questionmark:before {
  content: "\e920";
}
.icon-listen-o:before {
  content: "\e921";
}
.icon-listen:before {
  content: "\e922";
}
.icon-keyboard:before {
  content: "\e923";
}
.icon-hint-o:before {
  content: "\e924";
}
.icon-happy-face-o:before {
  content: "\e925";
}
.icon-grammar-o:before {
  content: "\e926";
}
.icon-grammar:before {
  content: "\e927";
}
.icon-check-circle:before {
  content: "\e928";
}
