/* Header styles ----------------------------------
 ----------------------------------------------------- */
.navigation {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 555;
  &__container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 1.25rem;
    width: 100%;
  }
  &__logo-wrap {
    width: 150px;
    height: 27px;
    font-size: 0;
  }
  &__list {
    width: 100%;
    max-width: 520px;
    &-item {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      opacity: 0.8;
      font-size: 1rem;
      font-weight: $fw-bold;
      line-height: 1.44;
      &:hover {
        opacity: 1;
        color: $white-cl;
      }
    }
  }
  &__dropdown {
    cursor: pointer;
    &-title {
      font-size: 0.87rem;
      font-weight: $fw-bold;
      line-height: 1.43;
      color: $white-cl;
      margin-right: 12px;
      &:hover {
        opacity: 0.8;
      }
    }
    &-subtitle {
      font-weight: 700;
    }
    &-icon {
      font-size: 1.5rem;
      color: $white-cl;
    }
  }
  &__btn {
    min-width: 95px;
    height: 50px;
    border-radius: 35px;
    font-size: 1.25rem;
    font-weight: $fw-bold;
    line-height: 1.63;
    color: #585858;
    outline: none;
    padding: 10px 24px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: #f7dda6;
    transition: .5s;
    margin-left: 15px;
    &:hover {
      background-color: #FBE6BB;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
      color: #585858;
    }
  }
}

/* Header responsive ----------------------------------
 ----------------------------------------------------- */
 @media (max-width: 1440px) {

}

/* Hero Section ----------------------------------
 ----------------------------------------------------- */
.header {
  &__bg {
    min-height: 739px;
    z-index: 110;
    overflow: hidden;
    background-image: linear-gradient(to top, #2acea7, #3bb2b8);
    opacity: 0.84;
  }
  &__images {
    &--left {
      width: 346px;
      height: 584px;
      bottom: 10px;
      left: 0;
    }
    &--right {
      width: 399px;
      height: 595px;
      bottom: 10px;
      right: 0;
    }
  }
  &__content {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1.25rem;
    width: 100%;
    padding-top: 180px;
    &--title {
      font-size: 2.4rem;
      font-weight: $fw-bold;
      line-height: 1.51;
      color: $white-cl;
    }
    &--title-sun {
      color: #f7dda6;
    }
    &--subtitle {
      max-width: 700px;
      width: 100%;
      font-size: 1.12rem;
      font-weight: $fw-bold;
      line-height: 1.5;
      color: $white-cl;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__country {
    max-width: 644px;
    width: 100%;
    margin-top: 60px;
    &--item {
      cursor: pointer;
      &:hover {
        .header__country--img-wrap {
          border: 1px solid #F5F5F5;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);
          border-radius: 50%;
          box-sizing:border-box;
        }
      }
    }
    &--img-wrap {
      width: 32px;
      height: 32px;
      margin-bottom: 15px;
      border: 1px solid transparent;
    }
    &--subtitle {
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.7px;
      color: $white-cl;
    }
  }
  &__btn-wrap {
    margin-top: 48px;
  }
  &__btn {
    min-width: 228px;
    height: 64px;
    border-radius: 35px;
    font-size: 1rem;
    font-weight: $fw-bold;
    line-height: 1.75;
    outline: none;
    padding: 19px 42px;
    color: #07785d;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    transition: .5s;
    &:hover {
      background-color: #F8FDFC;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
      color: #07785D;
    }
  }
  &__under-btn {
    opacity: 0.8;
    font-size: 0.8rem;
    font-weight: $fw-bold;
    line-height: 1.54;
    color: $white-cl;
    margin-top: 12px;
  }
}


/* Hero Section responsive ----------------------------------
 ----------------------------------------------------- */
 @media (max-width: 1440px) {

}

/* Set goal & achive ----------------------------------
 ----------------------------------------------------- */
.goal {
  &__block {
    padding: 64px 0;
    &.disabled {
      .state {
        &__disabled {
          opacity: 0.4;
          .state__top--title {
            border: solid 1px #eaedef;
            background: transparent;
            color: #585858;
          }
        }
      }
      .goal {
        &__disabled {
          opacity: 0.4;
        }
      }
    }
  }
  &__title {
    font-size: 1.62rem;
    font-weight: 600;
    line-height: 1.5;
    color: #585858;
    margin-bottom: 54px;
  }
  &__left {
    .state {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .state__top {
      margin-bottom: 15px;
      &--third {
        margin-bottom: 25px;
      }
      &--title {
        width: 32px;
        height: 32px;
        background-color: #23b996;
        border-radius: 50%;
        font-size: 0.81rem;
        font-weight: 600;
        color: $white-cl;
      }
      &--subtitle {
        font-size: 1.12rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        margin-left: 15px;
      }
    }
    .state-first {
      &__bottom {
        margin-top: 16px;
      }
    }
    .sf {
      &__table {
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(228, 229, 235, 0.6);
        border: solid 1px #eaedef;
        border-radius: 4px;
        background-color: #ffffff;
      }
      &__table-item {
        width: 100%;
        font-size: 0.93rem;
        font-weight: 600;
        color: #585858;
        border-right: solid 1px #eaedef;
        padding: 13px 0;
        &:last-child {
          border: none;
        }
      }
      &__big-table {
        width: 100%;
        box-shadow: 0 1px 4px 0 rgba(228, 229, 235, 0.6);
        border: solid 1px #eaedef;
        border-radius: 4px;
        background-color: #ffffff;
        flex-wrap: wrap;
      }
      &__bt {
        &--wrap {
          width: 100%;
          border-bottom: solid 1px #eaedef;
          &:last-child {
            border: none;
          }
        }
        &--item {
          width: 100%;
          font-size: 0.93rem;
          font-weight: 600;
          color: #585858;
          border-right: solid 1px #eaedef;
          padding: 21px 0;
          &:last-child {
            border: none;
          }
        }
        &--img {
          font-size: 1.25rem;
        }
        &--subtitle {
          margin-top: 8px;
        }
      }
      &__strip {
        width: 100%;
        height: 8px;
        background-color: #e8e9ea;
        border-radius: 4px;
      }
      &__interval {
        max-width: 157px;
        width: 100%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.22);
        background-color: #ffffff;
        padding: 4px 0;
        border-radius: 25px;
        top: -12px;
        left: calc(100% - 385px);
        &--img {
          font-size: 1.5rem;
        }
        &--title {
          font-size: 0.81rem;
          font-weight: 600;
          color: #585858;
          margin: 0 15px;
        }
      }
    }
  }
  &__information {
    width: 487px;
    height: 426px;
    box-shadow: 0 0 31px 0 rgba(95, 102, 115, 0.11);
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0 30px;
    margin-bottom: 48px;
      &--required {
        font-weight: 600;
        line-height: 1.5;
        color: #585858;
      }
      &--logo {
        width: 64px;
        height: 64px;
        margin-top: -32px;
        position: relative;
      }
      &--star-logo {
        width: 150px;
        height: 64px;
        top: -30px;
      }
      &--small-block {
        width: 100%;
        margin-top: 45px;
      }
      &--time {
        max-width: 205px;
        width: 100%;
        height: 80px;
        background-color: #f9fdfc;
        border-radius: 4px;
      }
      &--cost {
        max-width: 205px;
        width: 100%;
        height: 80px;
        background-color: #f9fdfc;
        border-radius: 4px;
      }
      &--time-title {
        font-size: 1px;
        font-weight: 600;
        line-height: 1.44;
        color: #585858;
      }
      &--time-subtitle {
        font-size: 1.12rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
      }
      &--big-block {
        width: 100%;
        height: 101px;
        background-color: #f9fdfc;
        border-radius: 4px;
        margin-top: 13px;
        padding: 0 65px;
        margin-bottom: 25px;
      }
      &--lettuce-top {
        width: 100%;
      }
      &--lettuce-img {
        color: #0d9b7a;
        font-size: 1.25rem;
      }
      &--lettuce-title {
        max-width: 160px;
        width: 100%;
        font-size: 1.12rem;
        font-weight: 600;
        line-height: 1.5;
        color: #0d9b7a;
        margin-left: 15px;
      }
      &--lettuce-subtitle {
        font-size: 1.12rem;
        font-weight: 600;
        line-height: 1.5;
        color: #0d9b7a;
      }
      &--lettuce-paragraph {
        font-size: 0.81rem;
        font-weight: 600;
        line-height: 1.54;
        color: #717171;
        margin-top: 8px;
      }
      &--btn {
        width: 100%;
        min-width: 95px;
        height: 48px;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.63;
        color: $white-cl;
        outline: none;
        padding: 12px 24px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
        background-color: #23b996;
        transition: .5s;
        color: #fff;
        &:hover {
          background-color: #25CEA7;
          box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
          color: $white-cl;
      }
    }
    &--hint {
      margin-top: 25px;
      width: 100%;
    }
    &--hint-img {
      font-size: 1.5rem;
      color: #585858;
    }
    &--hint-subtitle {
      font-size: 0.81rem;
      font-weight: 600;
      line-height: 1.54;
      color: #717171;
      margin-left: 10px;
      &.black {
        color: #000000;
        margin-left: 0;
      }
    }
  }
  &--required-txt {
    max-width: 441px;
    width: 100%;
    font-size: 0.68rem;
    line-height: 1.5;
    color: #585858;
    margin-bottom: 10px;
    padding-right: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Set goal & achive ----------------------------------
 ----------------------------------------------------- */
 @media (max-width: 1440px) {

}

/* Language learning ----------------------------------
 ----------------------------------------------------- */
.language {
  min-height: 1045px;
  overflow: hidden;
  background-color: #afead9;
  padding-top: 64px;
  &__title {
    font-size: 1.62rem;
    font-weight: 600;
    line-height: 1.5;
    color: #004636;
    margin-bottom: 48px;
  }
  .language {
    &__right-txt {
      padding-right: 125px;
    }
    &__right {
      &--img-wrap {
        position: relative;
        z-index: 2;
      }
      &--img-persona {
        position: absolute;
        min-width: 64px;
        height: 64px;
        left: -36px;
        top: -10px;
      }
      &--img-girl {
        position: absolute;
    min-width: 447px;
    height: 378px;
    top: -94px;
    left: 57px;
      }
    }
    &__right-pictures {
      padding-right: 250px;
    }
    &__container {
      &--link {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 1.25rem;
        width: 100%;
        padding-bottom: 105px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &--big-bg {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 1.25rem;
        width: 100%;
        padding-bottom: 140px;
      }
    }
    &__left {
      &--img-bg {
        width: 156px;
        height: 156px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 31px 0 rgba(95, 102, 115, 0.11);
        z-index: 10;
      }
      &--bubble-img {
        width: 44px;
        height: 48px;
      }
      &--palceholder-bg {
        width: 96px;
        height: 96px;
      }
      &--placeholder-img {
        width: 26px;
        height: 29px;
        position: relative;
      }
      &--clouds-img {
        width: 196px;
        height: 342px;
      }
      &--subtitle {
        width: 264px;
        height: 48px;
        background-color: #9cdccd;
        border-radius: 25px;
        font-size: 0.93rem;
        font-weight: 600;
        color: #004636;
        margin-top: 15px;
      }
      &--subtitle-placeholder {
        background-color: transparent;
        width: auto;
        height: auto;
        border: none;
        font-size: 1.12rem;
        margin-top: 32px;
      }
    }
    &__right {
      &--slogan {
        font-size: 1.12rem;
        font-weight: 600;
        line-height: 1.5;
        color: #004636;
        margin-bottom: 8px;
      }
      &--subslogan {
        max-width: 610px;
        opacity: 0.8;
        font-size: 1.062rem;
        line-height: 2.06;
        color: #004636;
        margin-bottom: 20px;
      }
      &--link {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.44;
        color: #07785d;
        &:hover {
          color: #0D9B7A;
        }
      }
    }
  }
}

 /* Language learning ----------------------------------
 ----------------------------------------------------- */
 @media (max-width: 1440px) {

}

/* Seen ----------------------------------
 ----------------------------------------------------- */
.seen {
  &_block {
    min-height: 325px;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.84;
    padding: 65px 0;
  }
  &_title {
    font-size: 1.45rem;
    font-weight: 600;
    line-height: 1.5;
    color: #585858;
    margin-bottom: 28px;
  }
  &_container-image {
    max-width: 590px;
    width: 100%;
    height: auto;
  }
  &_img {
    &--huffpost {
      width: 150px;
      height: 22px;
    }
    &--techco {
      width: 102px;
      height: 34px;
    }
    &--steamed {
      width: 169px;
      height: 34px;
    }
    &--aripaev {
      width: 120px;
      height: 34px;
    }
    &--innovatiiv {
      width: 128px;
      height: 33px;
    }
    &--geenius {
      width: 118px;
      height: 44px;
    }
  }
  &_top-image {
    margin-left: 20px;
    margin-bottom: 42px;
  }
  &_bottom-image {
    padding: 0 30px;
  }
}

 /* Seen ----------------------------------
 ----------------------------------------------------- */
 @media (max-width: 1440px) {

}

/* Footer ----------------------------------
 ----------------------------------------------------- */
 .footer {
  &__container-links {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1.25rem;
    width: 100%;
    padding-top: 220px;
  }
  &__links-item {
    min-height: 245px;
  }
  &__logo-wrap {
    width: 150px;
    height: 27px;
    font-size: 0;
  }
  &__copyright-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
    color: $white-cl;
  }
  &__navigation {
    &--item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--item-link {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.8;
      color: $white-cl;
      opacity: 0.8;
      &:hover {
        opacity: 1;
        color: $white-cl;
      }
    }
  }
  &__follow {
    &--item-title {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.8;
      color: $white-cl;
      margin-bottom: 10px;
    }
    &--item-img {
      margin-bottom: 25px;
    }
    &--item-twitter {
      font-size: 25px;
      color: $white-cl;
      &:hover {
        color: $white-cl;
      }
    }
    &--item-facebook {
      font-size: 25px;
      color: $white-cl;
      &:hover {
        color: $white-cl;
      }
    }
    &--item-youtube {
      font-size: 25px;
      color: $white-cl;
      &:hover {
        color: $white-cl;
      }
    }
  }
  &__get {
    &--list-title {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.8;
      color: $white-cl;
      margin-bottom: 5px;
    }
    &--list-img {
      margin-bottom: 24px;
      width: 260px;
    }
    &--list-app {
      width: 119px;
      height: 40px;
      &:hover {
        .app-store-img {
          .app-store-img-fill {
            fill: #3eaf95;
          }
        }
      }
    }
    &--list-google {
      width: 134px;
      height: 40px;
      &:hover {
        .google-play-img {
          .google-play-img-rect {
            fill: #3eaf95;
          }
        }
      }
    }
  }
  &__contact {
    &--list {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.8;
      color: $white-cl;
    }
    &--title {
      margin-bottom: 5px;
    }
  }
  &__content {
    &--title {
      font-size: 1.12rem;
      font-weight: 600;
      line-height: 1.5;
      color: $white-cl;
    }
  }
  &__images {
    &--left {
      width: 346px;
      height: 584px;
      top: 0;
      left: 0;
    }
    &--right {
      width: 399px;
      height: 595px;
      top: 0;
      right: 0;
    }
  }
}

.header {
  &__content {
    &--footer-content {
      padding-top: 95px;
    }
  }
  &__bg {
    &--footer-bg {
      min-height: 912px;
    }
  }
  &__country {
    &--footer-country {
      margin-top: 48px;
    }
  }
}

 /* Footer ----------------------------------
 ----------------------------------------------------- */
 @media (max-width: 1440px) {

}

